body {
  background: #EAE9E7;
  font-family: '华文细黑', Helvetica, Arial, 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  text-align: center;
  position: relative;
}

* {
  box-sizing: border-box;
}

.rule {
  width: 240px;
  text-align: left;
  margin: 0 auto;
}

.score, .countdown {
  padding-bottom: 10px;
}

#panel {
  border-collapse:collapse;
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

td {
  border:1px solid #fff;
  background-color:#141414;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

/*td:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-box-shadow: 0 0 3px rgba(255,255,255,0.3);
  -moz-box-shadow: 0 0 3px rgba(255,255,255,0.3);
  box-shadow: 0 0 3px rgba(255,255,255,0.3); 
}*/

td:active {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.cell-red {
  background-color:#88242C;
  /*background-color:#F96463;*/

}

.cell-black {
  background-color:#141414;
}

.result {
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  height: 100px;
  background: gray;
  z-index: 10;
}

#result {
  color: #f40;
  font-weight: bold;
  font-size: 24px;
}

/*------------模态框-----------*/
/*body当时间到时不能滚动，添加这个class*/
.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.fade.in {
  opacity: 1;
  display: block;
}


.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  -webkit-transform: translate(0,-25%);
  -ms-transform: translate(0,-25%);
  -o-transform: translate(0,-25%);
  transform: translate(0,-25%);
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
}

.modal-dialog {
  width: 200px;
  margin: 120px auto;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
}


.modal-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

.btn {
  display: inline-block;
  padding: 6px 22px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-again {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

/*遮罩层*/
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  display: none;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
    display: block;
}